<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/cloud-ico.svg">
    <script defer src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form class="input-form">
            <input placeholder="Location" type="text" class='search-input'>
            <button>Search</button>
        </form>

        <p class="location"></p>
        <p class="forecast"></p>
    </div>

    {{>footer}}
</body>

</html>